{% extends "AppTomas/base.html" %}

{% load static %}

{% block title %} Register {% endblock %}

{% block main %}

<div class="d-flex justify-content-center">

    {# Con este div colocamos el título y debajo el formulario usando Bootstrap #}
    <div class="d-flex flex-column">

        {# Mensaje personalizado en la vista de Login con estilos de Bootstrap #}
        <p class="fs-5 fw-bold">{{ msg_register }}</p>

        <form action="" method="POST">
            {% csrf_token %}
            
            {{ form.as_p }}
            <input type="submit" value="Sign">

        </form>

    </div>
</div>



{% endblock %}