{% extends 'AppTomas/base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block main %}

        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static 'AppTomas/assets/img/fondo_index.jpg' %}" alt="..." /></div>
                    <div class="col-md-6">                       
                        <h1 class="display-5 fw-bolder">Conocé nuestros productos</h1>                        
                        <p class="lead">Club1920 se formó con el fin de innovar y buscar la originalidad en la ropa de hoy en dia.</p>
                        <div class="d-flex">                         
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>              
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock main %}